body {
    background-color: #48a17a;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
}

.intro h1 {
    color: #bc4c4c;
    font-family: 'Courier New', Courier, monospace;
}

.options {
    text-align: center;
}

.options label {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #aa2828;
    font-weight: bold;
}

.options select {
    border-style:solid;
    border-color: #aa2828;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: medium;
    margin-left: 3px;
}

.intro input {
    width: 90%;
    border-style: solid;
    border-color: #aa2828;
    margin-top: 10px;
}

button {
    border-style: solid;
    border-color: #aa2828;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #48a17a;
    color: #aa2828;
}

#output {
    color: #aa2828;
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.output p {
    color: #aa2828;
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
