body {
    background-color: #48a17a;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
}

.intro h1 {
    color: #bc4c4c;
    font-family: 'Courier New', Courier, monospace;
}

img {
    /* transform: scale(1.3); */

};